@model Shop.Models.Products.Product
@{
}

<h1>Product Page</h1>

<product>
    <ul>
        <li>Id: @Model.Id</li>
        <li>Name: @Model.Name</li>
        <li>Description: @Model.Description</li>
        <li>Price: @Model.Price</li>
        <li>InvId: @Model.InventoryId</li>
        <li>CatId: @Model.CategoryId</li>
    </ul>
</product>

<form asp-action="Edit" asp-route-id="@Model.Id" method="get">
    <button type="submit" class="btn btn-primary">Edit</button>
</form>

